openapi: 3.0.1
info:
  title: Event Repository REST API
  description: Event Repository REST API for retrieving the event information
  contact: {}
  version: 0.0.1
tags:
- name: event-resource
  description: The Event Resource API for getting single event information
- name: search-resource
  description: The search api provides methods for querying up/down stream given an
    event id.
- name: events-resource
  description: The Events Resource API for getting all events information
paths:
  /events:
    get:
      tags:
      - events-resource
      summary: To get all events information
      operationId: getEventsUsingGET
      parameters:
      - name: pageSize
        in: query
        description: "The number of events to be displayed per page."
        schema:
          type: integer
          format: int32
          default: 500
      - name: params
        in: query
        description: |
          To search for specific events or artifacts, filtering with parameters is supported.

          **Syntax:**

          `<resource>?key[.key ...]<FC>value[&key[.key ...]<FC>value ...]`

          <FC> is one of the Filter comparators described below. To traverse into nested structures and filter on their keys, namespacing with
          `.` (dot) is used.

          ```
          =  - equal to
          >  - greater than
          <  - less than
          >= - greater than or equal to
          <= - less than or equal to
          != - not equal to
          ```

          **Examples, single key:**

          `/events?meta.type=EiffelActivityStartedEvent`

          **Examples multiple keys:**

          ```
          /events?key1=value1&key2=value2
          /events?key1>=value1&key2!=value2&key3<value3    #Multiple comparators
          /events?key1>value1&key1<=value2&key1!=value3    #Multiple constraints on one key
          ```

          **Examples nested structures:**
          ```
          /events?data.identity=pkg:maven/my.namespace/my-name@1.0.0
          /events?meta.source.domainId=my.domain&data.identity=pkg:maven/my.namespace/my-name@1.0.0    #Multiple keys and nested structures
          ```

          Note that mutiple keys only is allowed with logical AND (via `&`). There are no support for logical OR.

          **Data types:**

          By default, all data types are treated as strings. It is possible to specify the data type by including it explicitly in the query:

          ```
          /events?int(key1)>=value1&key2!=value2&double(key3)<value3
          ```

          In this example, `key1` and `value1` are treated as integers, `key2` and `value2` are treated as strings and `key3` and `values3` are treated as doubles.

          Currently only string (default), integer, long and double data types are supported.

          **No comparator:**

          Note that for events query, there is one special supported case is that the query expression has no comparator and value at all, for example `/events?key`, which means getting all events who has `key` as a field in the JSON documents. The REST API for events query also supports `!key` as a filter which means getting all events without field ‘key’ in the JSON documents. Here are some examples:

          ```
          /events?data.identity                                   #Get all the events containing field 'identity' in the 'data'
          /events?meta.source.domainId=my.domain&data.identity    #DomainId is 'my.domain' and has field 'identity' in 'data'
          /events?!data.customData                                #Return all the events without field 'customData' in 'data'
          ```

          **Example**

          The following example adds two search parameters. The result of the obeject will result in adding `meta.type=EiffelArtifactCreatedEvent&data.identity=pkg%3Amaven%2Fmy.namespace%2Fmy-name%401.0.0` to the search.

        schema:
          type: object
          additionalProperties:
            type: string
        style: form
        explode: true
        example: |
          {
            "meta.type":"EiffelArtifactCreatedEvent",
            "data.identity":"pkg:maven/my.namespace/my-name@1.0.0"
          }
      responses:
        200:
          description: Successfully retrieved the events
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageNo:
                    type: integer
                    example: 1
                  pageSize:
                    type: integer
                    example: 500
                  totalNumberItems:
                    type: integer
                    example: 234
                  items:
                    type: array
                    items:
                      type: object
                      example: All found eiffel events
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: The requested events are not found
          content: {}
        500:
          description: Internal server issue
          content: {}
  /events/{id}:
    get:
      tags:
      - event-resource
      summary: To get single event information
      operationId: getEventUsingGET
      parameters:
      - name: id
        in: path
        description: "Id of the event."
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully retrieved the Event
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1a4bc724-95f7-43c9-b5de-6348ddddbafe
                      type:
                        type: string
                        example: EiffelActivityStartedEvent
                      version:
                        type: string
                        example: 4.0.0
                      time:
                        type: integer
                        format: int64
                        example: 1657718729693
                      tags:
                        type: array
                        items:
                          type: string
                        example: []
                      source:
                        type: object
                        properties:
                          domainId:
                            type: string
                            example: some.domain
                          host:
                            type: string
                            example: host.my.company.com
                          name:
                            type: string
                            example: my-server-name
                          serializer:
                            type: string
                            example: pkg:maven/com.github.eiffel-community/eiffel-remrem-semantics@2.1.3
                          uri:
                            type: string
                            example: https://my-server-name.host.my.company.com/mybuild
                      data:
                        type: object
                        properties:
                          liveLogs:
                            type: array
                            items:
                              type: string
                            example: []
                          customData:
                            type: array
                            items:
                              type: object
                            example: []
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: ACTIVITY_EXECUTION
                            target:
                              type: string
                              example: b46e1a1e-8887-4837-933e-bbd921662e66

        400:
          description: Wrong type given for parameter
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: The requested event is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMsg:
                    type: string
                    example: "The requested event is not found"
        500:
          description: Internal server issue
          content: {}
  /search/{id}:
    post:
      tags:
      - search-resource
      summary: To get upstream/downstream events for an event based on the searchParameters
        passed
      operationId: searchUsingPOST
      parameters:
      - name: id
        in: path
        description: "Id of the event."
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >
          Determines the maximum amount of events to be fetched.
          Use `-1` for unlimited.
        schema:
          type: integer
          format: int32
      - name: levels
        in: query
        description: >
          Determines the maximum amount of levels to search.
          Use `-1` for unlimited
        schema:
          type: integer
          format: int32
      requestBody:
        description: |
          Select what types of links you want upstream/downstream search to follow.

          Examples:

            * Selelect `CAUSE` if you only want the search to follow `CAUSE` links
              dissregarding other links.
            * Selelect `CONTEXT` and `ACTIVITY_EXECUTION` if you want to follow both `CONTEXT`
              and `ACTIVITY_EXECUTION` links.

          Link Types:

            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL

            **Example**

            In the following example `dlt` stands for downlink and `ult` stands for uplink
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchParameters'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  upstreamLinkObjects:
                    type: array
                    items:
                      type: object
                      example: The searched event + all upstream events
                  downstreamLinkObjects:
                    type: array
                    items:
                      type: object
                      example: The searched event + all downstream events
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
      x-codegen-request-body-name: searchParameters
components:
  schemas:
    SearchParameters:
      type: object
      properties:
        dlt:
          type: array
          items:
            type: string
            enum:
            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL
        ult:
          type: array
          items:
            type: string
            enum:
            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL
