openapi: 3.0.1
info:
  title: Event Repository REST API
  description: Event Repository REST API for retrieving the event information
  contact: {}
  version: 0.0.1
tags:
- name: API
  description: Event Repository API
paths:
  /events:
    get:
      tags:
      - API
      summary: To get all events information
      operationId: getEventsUsingGET
      parameters:
      - name: pageSize
        in: query
        description: "The number of events to be displayed per page."
        schema:
          type: integer
          format: int32
          default: 500
      - name: params
        in: query
        description: |
          To search for specific events or artifacts, filtering with parameters is supported.

          **Syntax:**

          `<resource>?key[.key ...]=value[&key[.key ...]=value ...]`

          To traverse into nested structures and filter on their keys, namespacing with
          `.` (dot) is used.

          **Examples, single key:**

          `/events?meta.type=EiffelActivityStartedEvent`

          **Examples multiple keys:**

          ```
          /events?key1=value1&key2=value2
          /events?key1=value1&key2=value2&key3=value3
          ```

          **Examples nested structures:**
          ```
          /events?data.identity=pkg:maven/my.namespace/my-name@1.0.0
          /events?meta.source.domainId=my.domain&data.identity=pkg:maven/my.namespace/my-name@1.0.0    #Multiple keys and nested structures
          ```

          Note that mutiple keys only is allowed with logical AND (via `&`). There are no support for logical OR.

          **Data types:**

          By default, all data types are treated as strings. It is possible to specify the data type by including it explicitly in the query:

          ```
          /events?int(key1)>=value1&key2=value2&double(key3)=value3
          ```

          In this example, `key1` and `value1` are treated as integers, `key2` and `value2` are treated as strings and `key3` and `values3` are treated as doubles.

          Currently only string (default), integer, long and double data types are supported.

          **No comparator:**

          Note that for events query, there is one special supported case is that the query expression has no comparator and value at all, for example `/events?key`, which means getting all events who has `key` as a field in the JSON documents. The REST API for events query also supports `!key` as a filter which means getting all events without field ‘key’ in the JSON documents. Here are some examples:

          ```
          /events?data.identity                                   #Get all the events containing field 'identity' in the 'data'
          /events?meta.source.domainId=my.domain&data.identity    #DomainId is 'my.domain' and has field 'identity' in 'data'
          /events?!data.customData                                #Return all the events without field 'customData' in 'data'
          ```

          **Example**

          The following example adds two search parameters. The result of the object will result in adding `meta.type=EiffelArtifactCreatedEvent&data.identity=pkg%3Amaven%2Fmy.namespace%2Fmy-name%401.0.0` to the search.

        schema:
          type: object
          additionalProperties:
            type: string
        style: form
        explode: true
        example: |
          {
            "meta.type":"EiffelArtifactCreatedEvent",
            "data.identity":"pkg:maven/my.namespace/my-name@1.0.0"
          }
      responses:
        200:
          description: Successfully retrieved the events
          content:
            application/json:
              schema:
                type: object
                required:
                    - pageSize
                    - totalNumberItems
                properties:
                  pageNo:
                    type: integer
                    example: 1
                  pageSize:
                    type: integer
                    example: 500
                  totalNumberItems:
                    type: integer
                    example: 1
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/EiffelEvent"
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: The requested events are not found
          content: {}
        500:
          description: Internal server issue
          content: {}
  /events/{id}:
    get:
      tags:
      - API
      summary: To get single event information
      operationId: getEventUsingGET
      parameters:
      - name: id
        in: path
        description: "Id of the event."
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully retrieved the Event
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EiffelEvent"
        400:
          description: Wrong type given for parameter
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: The requested event is not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorMsg:
                    type: string
                    example: "The requested event is not found"
        500:
          description: Internal server issue
          content: {}
  /search/{id}:
    post:
      tags:
      - API
      summary: To get upstream/downstream events for an event based on the searchParameters
        passed
      operationId: searchUsingPOST
      parameters:
      - name: id
        in: path
        description: "Id of the event."
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: >
          Determines the maximum amount of events to be fetched.
          Use `-1` for unlimited.
        schema:
          type: integer
          format: int32
      - name: levels
        in: query
        description: >
          Determines the maximum amount of levels to search.
          Use `-1` for unlimited
        schema:
          type: integer
          format: int32
      requestBody:
        description: |
          Select what types of links you want upstream/downstream search to follow.

          Examples:

            * Select `CAUSE` if you only want the search to follow `CAUSE` links
              disregarding other links.
            * Select `CONTEXT` and `ACTIVITY_EXECUTION` if you want to follow both `CONTEXT`
              and `ACTIVITY_EXECUTION` links.

          Link Types:

            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL

            **Example**

            In the following example `dlt` stands for downlink and `ult` stands for uplink
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchParameters'
        required: false
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  upstreamLinkObjects:
                    type: array
                    items:
                      $ref: "#/components/schemas/EiffelEvent"
                  downstreamLinkObjects:
                    type: array
                    items:
                      $ref: "#/components/schemas/EiffelEvent"
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Not Found
          content: {}
        413:
          description: Content Too Large - use the limit flag to limit the amount of events
          content: {}
      x-codegen-request-body-name: searchParameters
components:
  schemas:
    SearchParameters:
      type: object
      properties:
        dlt:
          type: array
          items:
            type: string
            enum:
            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL
        ult:
          type: array
          items:
            type: string
            enum:
            - CAUSE
            - CONTEXT
            - FLOW_CONTEXT
            - ACTIVITY_EXECUTION
            - PREVIOUS_ACTIVITY_EXECUTION
            - PREVIOUS_VERSION
            - COMPOSITION
            - ENVIRONMENT
            - ARTIFACT
            - SUBJECT
            - ELEMENT
            - BASE
            - CHANGE
            - TEST_SUITE_EXECUTION
            - TEST_CASE_EXECUTION
            - IUT
            - TERC
            - MODIFIED_ANNOUNCEMENT
            - SUB_CONFIDENCE_LEVEL
            - REUSED_ARTIFACT
            - VERIFICATION_BASIS
            - ALL
    EiffelEvent:
      type: object
      properties:
        meta:
          type: object
        data:
          type: object
        links:
          type: array
          items:
            type: object
      example:
        meta:
          id: 1a4bc724-95f7-43c9-b5de-6348ddddbafe
          type: EiffelCompositionDefinedEvent
          version: 4.0.0
          time: 657718729693
        data:
          name: "My Composition"
        links: []
